@use "../mixin/configImgMixer.scss";

// Header Section
.aboutHeaderRoom {
    height: max-content;
}

// Slider Section
.sliderRooms {
    width: auto !important;
    height: auto !important;
    padding: 0 1rem !important;
    margin-top: 4rem;
    &__contentPagination {
        position: relative;
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .swiper-pagination-bullet {
            background: none;
            margin: 0 5px;
            padding: 10px 15px;
            font-size: 0.88rem;
            color: #222;
        }
        .swiper-pagination-bullet-active {
            background-color: #bead8e;
            color: #fff;
            border-radius: 0;
        }
        .swiper-but-room {
            width: 50px !important;
            height: 50px !important;
            color: transparent;
        }
    }
}

// Room Card Styling
.room {
    &__imgRoom {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__tit {
        width: 100%;
        font-family: "Old Standard TT", serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-bottom: 0.8em;
    }
    &__p {
        width: 18.125em;
        font-family: "Roboto", sans-serif;
        font-size: 0.88rem;
        color: #777;
        text-align: center;
        margin: 0 auto 0.8em auto;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__precio {
            font-family: "Archivo", sans-serif;
            font-weight: 700;
            color: #bead8e;
        }
        &__state {
            font-family: "Archivo", sans-serif;
            font-weight: 700;
            color: #bdbdbd;
        }
    }
}

// About Header Title Adjustments
.aboutheader {
    &__tit {
        &--dim {
            width: 27.875em !important;
        }
    }
}

// Responsive Adjustments
@media only screen and (min-width: 700px) {
    .contentAuxRoom {
        width: 35rem;
    }
}

@media only screen and (min-width: 1000px) {
    .sliderRooms {
        margin-top: 8rem;
        & .swiper-wrapper {
            justify-content: center;
        }
    }
    .swiperrooms--dim {
        width: 370px !important;
    }
    .contentAuxRoom {
        width: max-content;
        padding-top: 4rem;
    }
}
