@import "./Sliders/slider.css";
@import "./Sliders/second-slider.css";
@import "./Sliders/third-slider.css";
@import "./Sliders/fourth-slider.css";
.nav {
    width: 100%;
    height: 4.375rem;
    padding-top: 1.2rem;
    padding-left: 1.3rem;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
}
.nav__menu {
    display: inline-block;
}
.nav__menu__img {
    width: 1.25rem;
    height: 0.813rem;
    cursor: pointer;
}
.nav__menu__content {
    position: absolute;
    list-style-type: none;
    margin-top: 1.3rem;
    width: 100%;
    height: 13rem;
    background-color: white;
    margin-left: -1.3rem;
    display: none;
}
.nav__menu__content li {
    padding-top: 0.9em;
    padding-bottom: 0.5em;
    margin-left: 1.3rem;
}
.nav__menu__content li a {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Archivo;
    font-size: 16px;
    font-weight: 600;
    line-height: 17.41px;
    width: 20rem;
}
.nav__logo {
    display: inline-flex;
    margin-left: 2rem;
}
.nav__logo__img {
    box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
    width: 35.96px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    opacity: 0px;
}
.nav__logo__detail {
    width: 0.688rem;
    height: 0.772rem;
}
.nav__logo__name {
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.nav__btns {
    display: flex;
    float: right;
    margin-right: 1.5rem;
    align-content: space-between;
    gap: 1rem;
    margin-top: 0.3rem;
}

.menu__close {
    width: 0.975rem;
    height: 0.975rem;
    margin-right: 0.28rem;
}

.nav__logo__img__detail__desktop {
    display: none;
}

.nav__menu__content__desktop {
    display: none;
}

.nav__logo__name__desktop {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .black__square {
        width: 100%;
        height: 83px;
        background-color: #222222;
    }
    .center__nav {
        display: flex;
        justify-content: center;
    }
    .nav__logo__img {
        width: 5rem;
        height: 5rem;
    }
    .nav__menu__content__desktop {
        display: flex;
        list-style-type: none;
        margin-top: -3.4rem;
        margin-left: -2rem;
        align-items: flex-start;
        justify-content: center;
        align-content: stretch;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
        display: scale-down;
    }
    .nav__menu__content__desktop li {
        margin-left: 1.5rem;
    }
    .nav__menu__content__desktop li a {
        font-family: "Archivo";
        font-size: 16px;
        font-weight: 600;
        line-height: 17.41px;
        text-align: left;
        text-decoration: none;
        color: #111111;
    }
    .nav__logo {
        margin-left: 0;
    }
    .nav__btns {
        margin-right: 2rem;
        margin-top: -2.3rem;
    }
    .nav__btns__user {
        padding: 1rem;
        border: 2px solid rgba(133, 133, 133, 0.3019607843);
    }
    .nav__btns__search {
        padding: 1rem;
        border: 2px solid rgba(133, 133, 133, 0.3019607843);
    }
    .nav__logo__img__detail__desktop {
        display: block;
        width: 1.938rem;
        height: 2.75rem;
        object-fit: contain;
    }
    .nav__logo__name__desktop {
        display: block;
        width: 8.563rem;
        height: 3.5rem;
        margin-top: 0.3rem;
        margin-left: 1rem;
        object-fit: contain;
    }
    .nav {
        width: 85%;
        margin: auto;
        height: 7.5rem;
        position: fixed;
        top: 2rem;
        z-index: 99;
        transition: top 0.3s ease-in-out;
    }
    .hidden {
        top: -10.375rem; /* Hide navbar */
    }
    .drop-down-nav {
        top: 0; /* Show navbar */
    }
    .nav__menu {
        display: none;
    }
    .nav__logo__img__detail {
        display: none;
    }
    .nav__logo__name__mobile {
        display: none;
    }
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.footer {
    background-image: url("Resources/Background-footer.png");
    width: 100%;
    margin-top: 5rem;
}
.footer__logos {
    padding-top: 2rem;
}
.footer__logos__img {
    padding: 1rem;
    background-color: #bead8e;
    margin-left: 1.5rem;
    box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
}
.footer__logos__name {
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}
.footer__text {
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    font-family: "Archivo";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #777777;
    line-height: 26px;
    width: 335px;
    height: 130px;
}
.footer__social__media {
    display: inline-flex;
    gap: 1.7rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.footer__services {
    padding: 1.5rem;
    width: 100%;
    margin: auto;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
.footer__services__options__div {
    margin-bottom: 1.5rem;
}
.footer__services__heading {
    font-family: "Old Standard TT";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.footer__services__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.footer__services__column {
    display: grid;
    gap: 2rem;
}
.footer__services__column__2 {
    display: grid;
    margin-bottom: 4rem;
}
.footer__services__item {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    color: #777777;
    margin: 0;
}
.footer__contact__us {
    margin-top: 2rem;
    padding: 1.5rem;
}
.footer__contact__us__tittle {
    font-family: "Old Standard TT";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: -2rem;
}
.footer__contact__us__phone,
.footer__contact__us__email,
.footer__contact__us__location {
    display: inline-flex;
    margin-top: 5rem;
    padding: 0;
}
.footer__contact__us__phone__text,
.footer__contact__us__email__text,
.footer__contact__us__location__text {
    margin-left: 2rem;
}
.footer__contact__us__phone__tittle,
.footer__contact__us__email__tittle,
.footer__contact__us__location__tittle {
    font-family: "Old Standard TT";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.footer__contact__us__phone__body,
.footer__contact__us__email__body,
.footer__contact__us__location__body {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
}

.terms {
    width: 100%;
    height: 94px;
    background-color: #f8f8f8;
    position: absolute;
    left: 0;
}
.terms__copyright {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: -0.4799999893px;
    text-align: left;
    color: #222222;
    padding-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.terms__txt {
    display: flex;
    align-items: center;
}
.terms__information {
    margin: 1rem;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: -0.4799999893px;
    text-align: left;
    text-decoration: none;
    color: #222222;
}
.terms__conditions {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: -0.4799999893px;
    text-align: left;
    text-decoration: none;
    color: #222222;
    margin: 1rem;
}

@media only screen and (min-width: 1000px) {
    .footer {
        display: flex;
        padding: 2rem 7rem;
        margin-top: 5rem;
        align-content: stretch;
    }
    .first__column {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .first__column .footer__logos {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .first__column__img {
        padding: 1rem;
        background-color: #bead8e;
        margin-right: 1.5rem;
        box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
    }
    .first__column__name {
        margin-top: 1rem;
        margin-bottom: 0.6rem;
    }
    .footer__text {
        width: 17rem;
        margin-bottom: 2rem;
    }
    .footer__social__media {
        display: flex;
        gap: 1.7rem;
        margin-top: 2rem;
    }
    .footer__services {
        flex: 1;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 9rem;
    }
    .footer__services__item {
        width: 10rem;
    }
    .footer__services__options__div {
        margin-bottom: 0;
    }
    .footer__services__heading {
        font-family: "Old Standard TT";
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .footer__services__list {
        display: flex;
        column-gap: 3rem;
        row-gap: 5rem;
    }
    .footer__services__column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        column-gap: 3rem;
        row-gap: 1.8rem;
    }
    .footer__contact__us {
        flex: 1;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        max-width: 16rem;
        margin-top: 1rem;
    }
    .footer__contact__us__tittle {
        margin-bottom: 1rem;
    }
    .footer__contact__us .footer__contact__us__phone,
    .footer__contact__us .footer__contact__us__email,
    .footer__contact__us .footer__contact__us__location {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 2rem;
        align-items: baseline;
    }
    .footer__contact__us .footer__contact__us__phone img,
    .footer__contact__us .footer__contact__us__email img,
    .footer__contact__us .footer__contact__us__location img {
        margin-right: 1rem;
    }
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__phone__text,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__email__text,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__location__text,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__phone__text,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__email__text,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__location__text,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__phone__text,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__email__text,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__location__text {
        margin-left: 1rem;
    }
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__phone__text
        .footer__contact__us__phone__tittle,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__phone__text
        .footer__contact__us__email__tittle,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__phone__text
        .footer__contact__us__location__tittle,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__email__text
        .footer__contact__us__phone__tittle,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__email__text
        .footer__contact__us__email__tittle,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__email__text
        .footer__contact__us__location__tittle,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__location__text
        .footer__contact__us__phone__tittle,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__location__text
        .footer__contact__us__email__tittle,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__location__text
        .footer__contact__us__location__tittle,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__phone__text
        .footer__contact__us__phone__tittle,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__phone__text
        .footer__contact__us__email__tittle,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__phone__text
        .footer__contact__us__location__tittle,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__email__text
        .footer__contact__us__phone__tittle,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__email__text
        .footer__contact__us__email__tittle,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__email__text
        .footer__contact__us__location__tittle,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__location__text
        .footer__contact__us__phone__tittle,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__location__text
        .footer__contact__us__email__tittle,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__location__text
        .footer__contact__us__location__tittle,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__phone__text
        .footer__contact__us__phone__tittle,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__phone__text
        .footer__contact__us__email__tittle,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__phone__text
        .footer__contact__us__location__tittle,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__email__text
        .footer__contact__us__phone__tittle,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__email__text
        .footer__contact__us__email__tittle,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__email__text
        .footer__contact__us__location__tittle,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__location__text
        .footer__contact__us__phone__tittle,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__location__text
        .footer__contact__us__email__tittle,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__location__text
        .footer__contact__us__location__tittle {
        font-family: "Old Standard TT";
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__phone__text
        .footer__contact__us__phone__body,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__phone__text
        .footer__contact__us__email__body,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__phone__text
        .footer__contact__us__location__body,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__email__text
        .footer__contact__us__phone__body,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__email__text
        .footer__contact__us__email__body,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__email__text
        .footer__contact__us__location__body,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__location__text
        .footer__contact__us__phone__body,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__location__text
        .footer__contact__us__email__body,
    .footer__contact__us
        .footer__contact__us__phone
        .footer__contact__us__location__text
        .footer__contact__us__location__body,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__phone__text
        .footer__contact__us__phone__body,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__phone__text
        .footer__contact__us__email__body,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__phone__text
        .footer__contact__us__location__body,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__email__text
        .footer__contact__us__phone__body,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__email__text
        .footer__contact__us__email__body,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__email__text
        .footer__contact__us__location__body,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__location__text
        .footer__contact__us__phone__body,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__location__text
        .footer__contact__us__email__body,
    .footer__contact__us
        .footer__contact__us__email
        .footer__contact__us__location__text
        .footer__contact__us__location__body,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__phone__text
        .footer__contact__us__phone__body,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__phone__text
        .footer__contact__us__email__body,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__phone__text
        .footer__contact__us__location__body,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__email__text
        .footer__contact__us__phone__body,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__email__text
        .footer__contact__us__email__body,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__email__text
        .footer__contact__us__location__body,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__location__text
        .footer__contact__us__phone__body,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__location__text
        .footer__contact__us__email__body,
    .footer__contact__us
        .footer__contact__us__location
        .footer__contact__us__location__text
        .footer__contact__us__location__body {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
    }
    .terms {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        width: 100%;
    }
    .terms__copyright {
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 700;
        line-height: 18.75px;
        color: #222222;
    }
    .terms__txt {
        display: flex;
        align-items: center;
    }
    .terms__txt a {
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 700;
        line-height: 18.75px;
        color: #222222;
        text-decoration: none;
        margin: 0 1rem;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

.header {
    background-color: #333333;
    width: 100%;
    padding-bottom: 6rem;
}
.header__text {
    padding-top: 5rem;
    margin-left: 1.3rem;
}
.header__text__small {
    font-family: "Archivo";
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.8px;
    text-align: left;
    color: white;
    width: 15rem;
}
.header__text__big {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000477px;
    text-align: left;
    color: white;
    margin-top: 2.5rem;
}
.header__btn {
    margin-left: 2rem;
    margin-top: 2.5rem;
    display: grid;
}
.header__btn__tour {
    font-family: Archivo;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.7999999523px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color: white;
    align-items: center;
    text-align: center;
    display: grid;
    width: 217px;
    height: 60px;
    background-color: #bead8e;
    margin-bottom: 1.5rem;
}
.header__btn__learn {
    font-family: Archivo;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.7999999523px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color: white;
    align-items: center;
    text-align: center;
    display: grid;
    width: 217px;
    height: 60px;
    border: 2px 0px 0px 0px;
    border: 2px solid rgba(255, 255, 255, 0.3294117647);
}

.calendar {
    background-color: #222222;
    display: grid;
}
.calendar__inner {
    margin-left: 2rem;
    margin-top: 2rem;
}
.calendar__line {
    width: 91%;
    height: 2px;
    background-color: #bead8e;
    margin-top: 0.6rem;
}
.calendar__input {
    background-color: transparent;
    border: none;
    color: #bead8e;
    margin-left: 2rem;
    margin-top: 0.9rem;
}
.calendar__arrival__txt {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    text-align: left;
    color: white;
}
.calendar__departure__txt {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    text-align: left;
    color: white;
    margin-top: 2rem;
}
.calendar__btn {
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 250px;
    height: 60px;
    background-color: #bead8e;
    font-family: Archivo;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.7999999523px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color: white;
    align-items: center;
    text-align: center;
    display: grid;
}

.calendar__input::-webkit-calendar-picker-indicator {
    color: #bead8e;
    background-color: #bead8e;
    position: absolute;
    left: 2rem;
}

.about__us {
    margin-top: 3rem;
    background-color: #f9f9f9;
    width: 100%;
    padding-bottom: 11rem;
}
.about__us__subtitle {
    font-family: "Archivo";
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7999999523px;
    text-align: left;
    color: #777777;
    margin-left: 1.3rem;
    margin-top: 2rem;
    padding-top: 2rem;
}
.about__us__title {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000477px;
    text-align: left;
    color: #111111;
    margin-top: 2rem;
    margin-left: 1.7rem;
}
.about__us__text {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #777777;
    margin-left: 1.3rem;
    margin-top: 2rem;
    width: 90%;
}

.book__now {
    align-items: center;
    text-align: center;
    display: grid;
    width: 216px;
    height: 60px;
    background: #bdac8d;
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-family: Archivo;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.7999999523px;
    color: white;
    margin-top: 2rem;
    margin-left: 1.3rem;
}

.strong__team {
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
.strong__team__room__img {
    width: 270px;
    height: 300px;
    position: relative;
    top: -7rem;
}
.strong__team__box {
    box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.0196078431);
    width: 270px;
    height: 300px;
    top: -7rem;
    position: relative;
    display: grid;
    justify-content: space-around;
    justify-items: center;
}
.strong__team__box__text {
    margin-top: -2.5rem;
    z-index: 2;
}
.strong__team__box__text__title {
    text-align: center;
    font-family: "Old Standard TT";
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.8999999762px;
    margin-bottom: 2rem;
}
.strong__team__box__text__body {
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 13rem;
}
.strong__team__frontimg {
    width: 68px;
    height: 49.92px;
    margin-top: 4rem;
    z-index: 1;
}
.strong__team__backimg {
    width: 144px;
    height: 105.83px;
    position: absolute;
    right: 0rem;
    bottom: 9rem;
}

.luxury__rooms {
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
    margin-bottom: -1rem;
}
.luxury__rooms__img {
    width: 270px;
    height: 300px;
    position: relative;
    top: -7rem;
}
.luxury__rooms__box {
    background-color: #222222;
    width: 270px;
    height: 300px;
    top: -7rem;
    position: relative;
    display: grid;
    justify-content: space-around;
    justify-items: center;
}
.luxury__rooms__box__text {
    margin-top: -2.5rem;
    z-index: 2;
}
.luxury__rooms__box__text__title {
    text-align: center;
    font-family: "Old Standard TT";
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.8999999762px;
    margin-bottom: 2rem;
    color: white;
}
.luxury__rooms__box__text__body {
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 13rem;
    color: white;
}
.luxury__rooms__calendar__img {
    width: 57px;
    height: 50px;
    margin-top: 2rem;
}

.hand__picked__rooms {
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
.hand__picked__rooms__subtittle {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #777777;
    margin-bottom: 2rem;
}
.hand__picked__rooms__tittle {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000477px;
    text-align: left;
    color: #111111;
    text-align: center;
    margin-bottom: -1rem;
}

.intro__video {
    margin-top: 2rem;
    width: 100%;
    background-color: #222222;
    padding-bottom: 2rem;
}
.intro__video__subtitle {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #777777;
    color: #bdac8d;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.7999999523px;
    margin-left: 1.3rem;
    padding-top: 4rem;
}
.intro__video__tittle {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000477px;
    text-align: left;
    color: white;
    width: 19rem;
    margin-top: 2rem;
    margin-left: 1.3rem;
}
.intro__video__body {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #777777;
    margin-left: 1.3rem;
    width: 21rem;
}
.intro__video__video {
    display: grid;
    justify-items: center;
    margin: auto;
    margin-top: 2rem;
    width: 90%;
    height: 16.875rem;
}
.intro__video__btn {
    align-items: center;
    text-align: center;
    display: grid;
    width: 216px;
    height: 60px;
    background: #bdac8d;
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-family: Archivo;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.7999999523px;
    color: white;
    margin-top: 2rem;
    margin-left: 1.3rem;
    margin-top: 3rem;
}

.core__features__subtittle {
    font-family: "Archivo";
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.8px;
    text-align: left;
    color: white;
    color: #777777;
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
}
.core__features__tittle {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000477px;
    text-align: left;
    color: #111111;
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.food__menu {
    margin-top: 10rem;
}
.food__menu__img {
    height: 114.5px;
    right: 0;
    position: absolute;
    margin-bottom: 13rem;
    margin-top: -7rem;
}
.food__menu__img__full {
    display: none;
}
.food__menu__subtittle {
    font-family: "Archivo";
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.8px;
    text-align: left;
    color: white;
    color: #777777;
    margin-top: 8rem;
    margin-left: 1.8rem;
}
.food__menu__tittle {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000477px;
    text-align: left;
    color: #111111;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 15rem;
    margin-left: 1.5rem;
}

.general__info {
    background-color: #222222;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 7rem;
}
.general__info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.general__info .general__info__1__img,
.general__info .general__info__2__img,
.general__info .general__info__3__img,
.general__info .general__info__4__img {
    width: 78px;
    height: 80px;
    margin-bottom: 1.5rem;
}
.general__info .general__info__1__tittle,
.general__info .general__info__2__tittle,
.general__info .general__info__3__tittle,
.general__info .general__info__4__tittle {
    font-family: "Roboto";
    font-size: 60px;
    font-weight: 700;
    line-height: 81.84px;
    color: #ffffff;
    position: relative;
}
.general__info .general__info__1__tittle span,
.general__info .general__info__3__tittle span {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    position: absolute;
    top: 3rem;
    left: 6.5rem;
}
.general__info .general__info__2__tittle span {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    position: absolute;
    top: 3rem;
    left: 7.6rem;
}
.general__info .general__info__4__tittle span {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    position: absolute;
    top: 3rem;
    left: 9.65rem;
}
.general__info .general__info__1__body,
.general__info .general__info__2__body,
.general__info .general__info__3__body,
.general__info .general__info__4__body {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    color: #999999;
    margin-top: -0.7rem;
}

@media only screen and (min-width: 1000px) {
    .header {
        padding-top: 5rem;
        padding-left: 3rem;
    }
    .header__text {
        margin-left: 14.5rem;
    }
    .header__text__small {
        width: auto;
    }
    .header__text__big {
        width: 43rem;
        font-size: 120px;
        font-weight: 400;
        line-height: 130px;
        letter-spacing: -3.5999999046px;
        text-align: left;
    }
    .header__btn {
        margin-left: 15rem;
        display: flex;
    }
    .header__btn__tour {
        margin-right: 3rem;
    }
    .calendar__inner {
        display: flex;
        margin: auto;
        margin-top: 2rem;
        align-items: flex-end;
        margin-bottom: 3rem;
        gap: 3rem;
    }
    .calendar__line {
        width: 330px;
        height: 2px;
        background-color: #bead8e;
        margin-top: 0.6rem;
    }
    .calendar__input {
        background-color: transparent;
        border: none;
        color: #bead8e;
        margin-left: 2rem;
        margin-top: 0.9rem;
    }
    .calendar__arrival__txt {
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 300;
        line-height: 18.75px;
        text-align: left;
        color: white;
    }
    .calendar__departure__txt {
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 300;
        line-height: 18.75px;
        text-align: left;
        color: white;
        margin-top: 2rem;
    }
    .calendar__btn {
        margin-top: 2rem;
        margin-bottom: 3rem;
        width: 250px;
        height: 60px;
        background-color: #bead8e;
        font-family: Archivo;
        font-size: 14px;
        font-weight: 700;
        line-height: 15.23px;
        letter-spacing: 2.7999999523px;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
        color: white;
        align-items: center;
        text-align: center;
        display: grid;
        width: 15.625rem;
    }
    .calendar__input::-webkit-calendar-picker-indicator {
        color: #bead8e;
        background-color: #bead8e;
        position: absolute;
        left: 2rem;
    }
    .general__info {
        background-color: #222222;
        width: 80%;
        margin: auto;
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        padding-bottom: 7rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .Discover {
        display: flex;
        flex-direction: row-reverse;
        align-content: space-between;
    }
    .Discover__inner {
        display: flex;
        flex-direction: row;
        margin-top: 8rem;
        position: relative;
        right: -11rem;
    }
    .strong__team {
        display: flex;
        flex-direction: column-reverse;
        margin-right: 0.8rem;
    }
    .about__us {
        background-color: transparent;
        margin-top: 8rem;
        padding-left: 3rem;
    }
    .about__us__title {
        width: 19rem;
    }
    .about__us__text {
        width: 25rem;
        margin-left: 1.8rem;
    }
    .about__us__subtitle {
        margin-left: 10.9rem;
    }
    .about__us__body {
        background-color: #f9f9f9;
        margin-top: 3rem;
        padding-bottom: 20rem;
        padding-left: 9rem;
    }
    .book__now {
        margin-left: 1.8rem;
    }
    .luxury__rooms__img {
        width: 270px;
        height: 300px;
        position: relative;
        top: -3rem;
    }
    .luxury__rooms__box {
        top: -12rem;
    }
    .strong__team__box {
        box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.0196078431);
        width: 270px;
        height: 300px;
        top: -2rem;
        position: relative;
        display: grid;
        justify-content: space-around;
        justify-items: center;
    }
    .strong__team__room__img {
        width: 270px;
        height: 300px;
        position: relative;
        top: -12rem;
    }
    .first-slider .swiper-slide {
        position: relative;
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }
    .first-slider .swiper-slide-active {
        opacity: 1;
        width: 100%;
        height: 20rem;
    }
    .intro__video {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding-bottom: 9rem;
        background: linear-gradient(to right, #222222 75%, #ad9d82 25%);
    }
    .intro__video__1 {
        padding-right: 4rem;
    }
    .intro__video__tittle {
        width: 33rem;
        margin-bottom: 1rem;
        font-size: 80px;
        font-weight: 400;
        line-height: 85px;
        letter-spacing: -2.4000000954px;
        text-align: left;
    }
    .intro__video__body {
        width: 30rem;
    }
    .intro__video__video {
        display: grid;
        justify-items: center;
        margin: auto;
        width: 80%;
        height: 100%;
        position: relative;
        z-index: 1;
    }
    .intro__video__2 {
        width: 570px;
        height: 460px;
        margin-top: 5rem;
    }
    .intro__video__btn {
        position: relative;
        margin-top: 3rem;
        left: -38.5rem;
        top: -11rem;
    }
    .food__menu {
        width: 67%;
        margin: auto;
    }
    .food__menu__tittle {
        width: 28rem;
    }
    .food__menu__img {
        display: none;
    }
    .food__menu__img__full {
        position: relative;
        top: 11rem;
        left: -12rem;
        display: block;
    }
    .slider4 {
        width: 83%;
        margin: auto;
    }
    .calendar__input::-webkit-calendar-picker-indicator {
        color: #bead8e;
        background-color: #bead8e;
        position: absolute;
        display: none;
    }
    .calendar__btn {
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
} /*# sourceMappingURL=style.css.map */

.first-slider {
    width: 100%;
    height: 32rem;
}

.first-slider .swiper-button-prev,
.first-slider .swiper-button-next {
    color: black;
    width: 50px;
    height: 50px;
    transform: scale(0.3);
}

.first-slider .swiper-button-prev::after,
.first-slider .swiper-button-next::after {
    color: black;
    padding: 1rem;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.first-slider .swiper-button-prev::after {
    left: -6rem;
    top: -10rem;
    background-color: aliceblue;
}

.first-slider .swiper-button-next::after {
    right: -6rem;
    top: -10rem;
    background-color: #bdac8d;
}

.first-slider .swiper-slide-img {
    width: 100%;
    height: 244px;
    object-fit: cover;
}

.first-slider .swiper-slide-rules {
    width: 256px;
    height: 66px;
    position: relative;
    top: 2.5rem;
    display: inline-block;
    z-index: 3;
    display: block;
    margin: auto;
}

.first-slider .swiper-slide-text {
    width: 80%;
    height: auto;
    padding-bottom: 2rem;
    display: block;
    margin: auto;
    background: white;
    position: relative;
    top: -2rem;
}

.first-slider .swiper-slide-text-title {
    padding-top: 1rem;
    font-family: "Old Standard TT";
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.first-slider .swiper-slide-text-body {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 20rem;
    margin: auto;
    margin-top: 1rem;
}

.first-slider .swiper-slide-text-price {
    font-family: Archivo;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
    color: #bdac8d;
}

.first-slider .swiper-slide-text-price-small {
    font-family: Archivo;
    font-size: 13px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
    color: #bdac8d;
}

.Swiper2 {
    width: 100%;
    height: 23.125rem;
}

.Swiper2 .swiper-pagination-bullet {
    background: #ededed;
}

.Swiper2 .swiper-pagination-bullet-active {
    background: #bdac8d;
}

.Swiper2 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Swiper2 .swiper-slide-number {
    font-family: "Archivo";
    font-size: 120px;
    font-weight: 700;
    position: absolute;
    right: 1rem;
    top: 0rem;
    color: #2222220a;
}

.Swiper2 .swiper-slide-logo {
    width: 4.375rem;
    height: 4.375rem;
    position: relative;
    object-fit: contain;
    left: 4.4rem;
    top: -4rem;
}

.Swiper2 .swiper-slide-logos {
    width: 100%;
    margin-top: 1rem;
}

.Swiper2 .swiper-slide-main-txt {
    display: block;
    margin-top: 9rem;
    margin-right: 2rem;
}

.Swiper2 .swiper-slide-title {
    font-family: "Old Standard TT";
    font-size: 30px;
    font-weight: 400;
    width: 20rem;
    text-align: left;
    margin-bottom: 1.7rem;
}

.Swiper2 .swiper-slide-body {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #777777;
    width: 15.625rem;
}
@media only screen and (min-width: 1000px) {
    .Swiper2 .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-around;
        width: 54rem;
        margin: auto;
    }

    .Swiper2 .swiper-slide {
        width: 320px;
        margin: 10px;

        padding: 20px;

        height: 320px;
    }

    .Swiper2 {
        width: 100%;
        height: 49.125rem;
        background-color: transparent;
        position: relative;
        padding-bottom: 2rem;
    }

    .Swiper2 .swiper-pagination {
        display: none;
    }
}

.Swiper4 {
    width: 100%;
    height: 23.125rem;
    padding-bottom: 5rem;
}

.Swiper4 .swiper-pagination {
    margin-bottom: 2rem;
}

.Swiper4 .swiper-pagination-bullet {
    background: #ededed;
}

.Swiper4 .swiper-pagination-bullet-active {
    background: #bdac8d;
}

.Swiper4 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;
}

.swiper4-image {
    width: 90%;
    height: 335px;
}

.Swiper3 {
    width: 100%;
    height: 32rem;
    margin-bottom: 3rem;
}

.Swiper3 .swiper-button-prev,
.Swiper3 .swiper-button-next {
    color: black;
    width: 6px;
    height: 24rem;
    transform: scale(0.3);
}

.Swiper3 .swiper-button-prev::after,
.Swiper3 .swiper-button-next::after {
    color: black;
    padding: 3rem;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
}

.Swiper3 .swiper-button-prev::after {
    left: -5rem;
    top: -10rem;
    background-color: aliceblue;
}

.Swiper3 .swiper-button-next::after {
    right: -19rem;
    top: -10rem;
    background-color: #bdac8d;
}

.Swiper3 .swiper-btns {
    position: absolute;
    left: 17rem;
    top: 27rem;
}

.swiper-slide-food {
    display: flex;
    align-items: flex-start;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.swiper-slide-food-img {
    width: 120px;
    height: 110px;
    object-fit: cover;
    margin-right: 20px;
}

.swiper-slide-food-text-container {
    display: flex;
    flex-direction: column;
}

.swiper-slide-food-tittle {
    margin-bottom: 19px;
    font-family: "Old Standard TT";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.7200000286102295px;
    text-align: left;
}

.swiper-slide-food-text {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 11rem;
}

@media only screen and (min-width: 1000px) {
    .swiper-slide-food-text {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        max-width: 18rem;
    }
    .Swiper3 .swiper-btns {
        position: absolute;
        left: 46rem;
        top: 25rem;
    }
}
